/* html {
  font-size: 62.5%;
} */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.15;
  text-align: center;
}

.calculator {
  background-color: #fdcd3b;
  width: 500px;
  margin: 4% auto;
  letter-spacing: 5px;
  font-size: 1.8rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.input {
  background-color: #ffff;
  border: 1px solid #ddd;
  border-radius: 1px;
  height: 60px;
  padding-top: 10px;
  padding-right: 15px;
  text-align: right;
  margin-right: 6px;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
}

.input:hover {
  border: 1px solid #bbb;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.button {
}
.operator {
}

.operators div {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: #ddd;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.operator div:hover {
  background-color: #ddd;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.operator div:active {
  font-weight: bold;
}
.left-panel {
  display: inline-block;
}
.numbers div {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.numbers div:hover {
  background-color: #f1f1f1;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-color: #bbbb;
}

.numbers div:active {
  font-weight: bold;
}
div.equal {
  display: inline-block;
  border: 1px solid #3079ed;
  border-radius: 1px;
  width: 17%;
  text-align: center;
  padding: 127px 10px;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  background-color: #682927;
  transition: all 0.2s ease-in-out;
}

div.equal:hover {
  background-color: #290504;
  box-shadow: rgba(0, 0, 0, 0.2);
  border-color: #6e3735;
}

div.equal:active {
  font-weight: bold;
}
